<div class="char-body">
    <div class="title">
        <h2>Personajes</h2>
    </div>
    <img  [@imageBlend]="animationState ? 'active' : 'start'" class="background" src={{backgroundSrc}} alt={{currCharacter.name}}>
    <div class="content">
        <div class="column">
            <img [@imageBlend]="animationState ? 'active' : 'start'" src={{portraitSrc}} alt={{currCharacter.name}}>
        </div>
        <div class="column">
            <div class="descriptions">
                <h3 class="char-name">{{currCharacter.name}}</h3>
                <p *ngFor="let p of currCharacter.description">{{p}}</p>
            </div>

            <div class="buttons">
                <img id={{b.id}} class="char-button" src='{{buttonSrc}}{{b.button}}' alt={{currCharacter.name}} *ngFor="let b of characters" (click)="selectCharacter(b.name)">
            </div>
        </div>
    </div>
</div>
