<div class="char-body">
    <div class="title">
        <h2>Personajes</h2>
    </div>
    <img class="background" src={{backgroundSrc}} alt="">
    <div class="content">
        <div class="column">
            <img src={{portraitSrc}} alt="Khalia">
        </div>
        <div class="column">
            <h3 class="char-name">{{currCharacter.name}}</h3>
            <div class="descriptions">
                <p *ngFor="let p of currCharacter.description">{{p}}</p>
            </div>

            <div class="buttons">
                <button *ngFor="let b of characters" type="submit" (click)="selectCharacter(b.name)">{{b.button}}</button>
            </div>
        </div>
    </div>
</div>
