p {
    color: var(--white-text);

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.char-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh;
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.background {
    position: absolute;
    z-index: -100;
    width: 100%;
    mask-image: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.background.inactive {
    opacity: 0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    width: 70%;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column {
    width: 50%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.portrait {
    position: absolute;
    width: 30%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.portrait.inactive {
    opacity: 0;
}

.char-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;

    letter-spacing: 0.2px;

    color: #E7E7E7;
}

.descriptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttons {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    align-self: flex-end;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    z-index: 5;
}

.char-button {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px transparent yellow;
    -webkit-transition: all 700ms linear;
    -moz-transition: all 700ms linear;
    -o-transition: all 700ms linear;
    transition: all 700ms linear;
}

.btn-active {
    border: 2px solid yellow;
    width: 66px;
    height: 66px;
}

/* Mobile mode */
@media screen and (max-width: 500px) {

    .char-name {
        
    }

    .char-body {
        height: auto;
        margin-bottom: 5rem;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 90%;
        height: auto;
    }

    .img-container {
        height: 30vh;
    }
    .img-container img {
        width: 40%;
    }

    .background {
        display: none;
    }

    .buttons {
        height: 180px;
    }
}

/* Tablet mode */
@media screen and (max-width: 1000px) and (min-width: 501px) {
    .char-body {
        height: auto;
        margin-bottom: 5rem;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 90%;
    }

    .img-container img {
        width: 40%;
    }

    .img-container {
        height: 40vh;
    }

    .background {
        display: none;
    }
}

@media screen and (min-width: 1600px) {

    .title {
        margin-bottom: 0;
    }


    .char-button {
        width: 6rem;
        height: 6rem;
    }

    .char-body {
        margin-bottom: 0;
    }

    .content {
        margin-top: 5rem;
    }
}

@media screen and (min-width: 3600px) {

    .char-name {
        font-size: 72px;
    }

    .char-button {
        width: 10rem;
        height: 10rem;
    }

    .btn-active {
        width: 12rem;
        height: 12rem;
    }

    .content {
        margin-top: 15rem;
    }
}