hr {
    width: 100%;
    color: white;
}

p {
    color: white;
    margin: 0;
}

.body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.footer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 10rem;
}

.foot-image {
    width: 20%;
}

.foot-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}