<div class="body">
    <div class="footer">
        <hr>
        <div class="foot-body">
            <img class="foot-image" src="../../assets/Logo/Logo_Sinfonía de sombras_Plata_2 lineas.png" alt="sinfonía de sombras">
            <div class="foot-column">
                <div>
                    <p>TWITTER</p>
                    <p>@c__roto</p>
                </div>
                <div>
                    <p>CORREO ELECTRÓNICO</p>
                    <P>c.roto@sinfoniadesombras.com</P>
                </div>
            </div>
            <div class="foot-column">
                <p>COMPRAR EN AMAZON</p>
                <p>COMPRAR EN 'LA CASA DEL LIBRO'</p>
                <p>ENCUENTRA TU LIBRERÍA</p>
            </div>
            <div class="foot-column">
                <p>NOTICIAS</p>
                <p>ENTREVISTAS</p>
                <p>RESEÑAS</p>
            </div>
        </div>
    </div>
</div>
