<div class="body">
    <div class="footer">
        <hr>
        <div class="foot-body">
            <img class="foot-image" src="../../assets/Logo/Logo_Sinfonía de sombras_Plata_2 lineas.png" alt="sinfonía de sombras">
            <div class="foot-column">
                <div>
                    <p class="bold">TWITTER</p>
                    <a class="footer-link" href="https://twitter.com/c__roto" target="_blank" rel="noopener noreferrer">@c__roto</a>
                </div>
                <div>
                    <p class="bold">INSTAGRAM</p>
                    <a class="footer-link" href="https://www.instagram.com/c_roto_/" target="_blank" rel="noopener noreferrer">@c_roto_</a>
                </div>
                <div>
                    <p class="bold">CORREO ELECTRÓNICO</p>
                    <a class="footer-link" href="https://mail.google.com/mail/?view=cm&fs=1&to=c.roto@sinfoniadesombras.com&su=&body=&bcc="  target="_blank" rel="noopener noreferrer">c.roto@sinfoniadesombras.com</a>
                </div>
            </div>
            <div class="foot-column col-2">
                <!--footer-linkS-->
                <a href="https://www.amazon.es/Sinfonía-Sombras-Despertar-Fantasía-español-ebook/dp/B0BK3519GS/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=&sr=" target="_blank" rel="noopener noreferrer">COMPRAR EN AMAZON</a>
                <a href="https://www.casadellibro.com/?campaignid=847763412&adgroupid=45890883551&feeditemid=&targetid=kwd-339552297486&matchtype=e&network=g&device=c&devicemodel=&ifmobile%3A%5Bmobile%5D=&ifnotmobile%3A%5Bnotmobile%5D=%5Bnotmobile%5D&ifsearch%3A%5Bsearch%5D=%5Bsearch%5D&ifcontent%3A%5Bdisplay%5D=&creative=272985078423&keyword=la.casa.del+libro&placement=&target=&adposition=&gclid=Cj0KCQiAqOucBhDrARIsAPCQL1ZzDuGoajbnQWGHNC1s5v0uOrULyGFwybN6SxrBm_6Sxmv8ZEKe5gkaAlgkEALw_wcB&q=sinfonia+de+sombras"  target="_blank" rel="noopener noreferrer">COMPRAR EN 'LA CASA DEL LIBRO'</a>
                <a href="https://www.fnac.es/SearchResult/ResultList.aspx?SDM=mosaic&Search=sinfonia+de+sombras&sft=1" target="_blank" rel="noopener noreferrer">COMPRAR EN FNAC
                </a>
            </div>
        </div>
        <div class="author">
            <p>Página creada por <a href="https://footer-linktr.ee/luislasbelin" target="_blank" rel="noopener noreferrer">Luis 'Lasbelin' Belloch</a></p>
        </div>
    </div>
</div>
