h3 {
    color: white;
}

.vertical-container {
    margin-top: 10%;
}

#title-box {
    width: 80%;
    height: 1.5rem;
    border: 2px solid #ccc;
    padding: 5px;
}

#content-box {
    width: 100%;
    height: 20rem;
    border: 2px solid #ccc;
    padding: 5px;
    color: white;
}

select {
    border: 2px solid #ccc;
    padding: 0.5rem;
    margin: 10px;
}

li {
    list-style-type: none;
    color: white;
}