<div class="vertical-container">
    <div>
        <h2>Título</h2>
        <textarea name="title-box" id="title-box" cols="30" rows="1" [(ngModel)]="title">Título</textarea>
    </div>
    <div>
        <h2>Categoría</h2>
        <select name="entry-tag" id="entry-tag" [(ngModel)]="tag">
            <option selected value="">Categoría</option>
            <option *ngFor="let _tag of tags" [value]="_tag" >{{_tag}}</option>
        </select>
    </div>
    <div>
        <h2>URL de la portada</h2>
        <textarea name="url-box" cols="30" rows="1" [(ngModel)]="frontImageURL">URL de la portada</textarea>
    </div>
    <div>
        <h2>Alt text de la portada</h2>
        <textarea name="alt-box" cols="30" rows="1" [(ngModel)]="frontImageAlt">Alt text de la portada</textarea>
    </div>
    <div>
        <h2>Resumen</h2>
        <textarea name="alt-box" cols="30" rows="1" [(ngModel)]="brief">Alt text de la portada</textarea>
    </div>
    <!--Fragments-->
    <ul>
        <li *ngFor="let fragment of content; let i = index">
            <div *ngIf="fragment.type.key == 0">
                <h2>Párrafo</h2>
                <textarea name="content-box text" cols="30" rows="30"
                [(ngModel)]="fragment.content">Texto de cuerpo</textarea>
            </div>
            <div *ngIf="fragment.type.key == 1">
                <h2>URL Imagen</h2>
                <textarea name="content-box" cols="30" rows="1"
                [(ngModel)]="fragment.content">Imagen URL</textarea>
            </div>
            <div *ngIf="fragment.type.key == 2">
                <h2>URL Vídeo</h2>
                <textarea name="content-box" cols="30" rows="1"
                [(ngModel)]="fragment.content">Vídeo URL</textarea>
            </div>
            <div *ngIf="fragment.type.key == 2">
                <h2>Nombre#Enlace</h2>
                <textarea name="content-box" cols="30" rows="1"
                [(ngModel)]="fragment.content">Nombre#Enlace</textarea>
            </div>
            <button type="submit" (click)="deleteContentFragment(i)">Borrar</button>
        </li>
    </ul>

    <div>
        <button (click)="addContentFragment()">Añadir</button>
        <select name="content-fragment-type" id="content-fragment-type"
        [(ngModel)]="newFragmentType">
            <option *ngFor="let type of contentFragmentTypes" [value]="type.key" >{{type.value}}</option>
        </select>
    </div>
    
    <div>
        <button type="submit" (click)="newBlogEntry()">Guardar</button>
        <button type="submit" (click)="back()">Descartar</button>
    </div>
</div>