h3 {
    color: var(--white-text);
    margin: 0;
}

.vertical-container {
    margin-top: 10%;
    margin-left: 1vw;
}

#title-box {
    width: 80%;
    height: 1.5rem;
    border: 2px solid #ccc;
    padding: 5px;
}

#content-box {
    width: 100%;
    height: 20rem;
    border: 2px solid #ccc;
    padding: 5px;
    color: var(--white-text);
}

select {
    border: 2px solid #ccc;
    padding: 0.5rem;
    margin: 10px;
}

li {
    list-style-type: none;
    color: var(--white-text);
}


@media screen and (min-width: 1600px) {
    textarea {
        font-size: var(--big-text-p);
    }
}

// 4K
@media screen and (min-width: 3200px) {
    textarea {
        font-size: var(--4k-text-p);
    }
}