<img id="background" src="../../assets/Imágenes/Luna.png" alt="Luna azul con nubes">
<div id="content">
    <img id="logo" src="../../assets/Logo/Logo_Sinfonía de sombras_Plata_2 lineas.png" alt="Sinfonia de sombras logo">
    <div class="links">
        <a href="">Amazon</a>
        <a href="">Casa del Libro</a>
        <a href="">Corte Inglés</a>
        <a href="">Librerías</a>
    </div>
    <div class="paragraph">
        Bienvenido a Deythea, la Tierra de las Cuatro Lunas. Un mundo inconmensurable de dioses extintos con cuatro lunas que coronan su cielo, testigo de la guerra entre ángeles, demonios y otras razas de seres sobrenaturales.
    </div>
</div>