<img id="background" src="../../assets/Imágenes/Luna.png" alt="Luna azul con nubes">
<div #content id="content">
    <h1 class="hide">Sinfonía de Sombras</h1>
    <img id="logo" src="../../assets/Logo/Logo_Sinfonía de sombras_Plata_2 lineas.png" alt="Sinfonía de sombras logo">
    <div class="links mobile-hide">
        <!--LINKS-->
        <a class="tooltip">Amazon
            <span class="tooltiptext">PRÓXIMAMENTE</span>
        </a>
        <a class="tooltip">Casa del Libro
            <span class="tooltiptext">PRÓXIMAMENTE</span>
        </a>
        <a class="tooltip">Corte Inglés
            <span class="tooltiptext">PRÓXIMAMENTE</span>
        </a>
        <a class="tooltip">FNAC
            <span class="tooltiptext">PRÓXIMAMENTE</span>
        </a>
        <a class="tooltip">Librerías
            <span class="tooltiptext">PRÓXIMAMENTE</span>
        </a>
    </div>
    <div class="paragraph">
        <p>
            Bienvenido a Deythea, la Tierra de las Cuatro Lunas. Un mundo inconmensurable de dioses extintos con cuatro lunas que coronan su cielo, testigo de la guerra entre ángeles, demonios y otras razas de seres sobrenaturales.
        </p>
    </div>
    <div class="links mobile-show">
        <!--LINKS-->
        <a >Amazon</a>
        <a >Corte Inglés</a>
        <a >Cada del libro</a>
        <a >FNAC</a>
        <a >Librerías</a>
    </div>
    <span id='saga'></span>
    <div class="mobile-hide desktop-content">
        <div class="intro-body">
            <h1 class="txt-white">La historia de una revolución 23:37</h1>
            <!--<canvas width="1920px" height="1080px" class="img-book animated-book" id="img-book" alt="Libro fisico"></canvas>-->
            <div class="col2">
                <div>
                    <p class="txt-white"><i class="bold">Sinfonía de Sombras</i> es una saga de fantasía épica que narra los eventos que toman lugar en Deythea, un mundo ficticio lleno de magia y sacudido por conflictos que enfrentan a razas y reinos desde hace siglos.</p>
                    <p class="txt-white">Hace más de ochocientos años, un ejército de ángeles comandado por el Serafín Khoril de Merëass exilió a los demonios al Infierno de Deythea. Hoy el Serafín y su séquito gobiernan en paz desde el Reino de los Cielos, un archipiélago que flota a miles de leguas de la superficie mientras los demonios tratan de reclamar su lugar en el mundo.</p>
                    <p class="txt-white">En la superficie terrestre habitan otras razas de humanos con sus propios conflictos: los Hijos de los Árboles, magos perseguidos por las varitas de hueso que alumbran de sus brazos al alcanzar la pubertad. O los elementales, humanos que sufren las desigualdades derivadas de los enfrentamientos entre sus reinos, históricamente en disputa por ejercer el dominio sobre los demás.</p>    
                    <svg class="white-box"></svg>
                    <p class="txt-black">Una historia de fantasía con tintes oscuros que analiza los conflictos derivados de la clase social, la raza, la sexualidad o el género como una forma de reflexionar sobre nuestro propio mundo.          </p>
                    
                    <button type="submit" class="primary-button txt-white">COMPRAR AHORA</button>
                </div>
                <div class="flex-book">
                    <div>
                        <img class="book" src="../../assets/Mockup libro girando/Sinfonia de sombras_mockup_portada_sombra.png" alt="Libro fisico">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-show mobile-content">
        <h1 class="txt-white">La historia de una revolución</h1>
        <!-- IMAGEN DEL LIBRO -->
        <img class="img-book" src="../../assets/Mockup libro girando/Sinfonia de sombras_mockup_portada_sombra.png" alt="Libro fisico">
        <div class="white-box"></div>
        <!--DESCRIPCION DEL LIBRO -->
        <div class="col1">
            <p class="txt-white"><span class="bold">Sinfonía de Sombras</span> es una saga de fantasía épica que narra los eventos que toman lugar en <i>Deythea</i>, un mundo ficticio lleno de magia y sacudido por conflictos que enfrentan a razas y reinos desde hace siglos.</p>
            <p class="txt-white">Hace más de ochocientos años, un ejército de ángeles comandado por el Serafín Khoril de Merëass exilió a los demonios al Infierno de Deythea. Hoy el Serafín y su séquito gobiernan en paz desde el Reino de los Cielos, un archipiélago que flota a miles de leguas de la superficie mientras los demonios tratan de reclamar su lugar en el mundo.</p>
            <p class="txt-white">En la superficie terrestre habitan otras razas de humanos con sus propios conflictos: los Hijos de los Árboles, magos perseguidos por las varitas de hueso que alumbran de sus brazos al alcanzar la pubertad. O los elementales, humanos que sufren las desigualdades derivadas de los enfrentamientos entre sus reinos, históricamente en disputa por ejercer el dominio sobre los demás.</p>    
            <div>
                <p class="txt-white">Una historia de fantasía con tintes oscuros que analiza los conflictos derivados de la clase social, la raza, la sexualidad o el género como una forma de reflexionar sobre nuestro propio mundo.</p>
                <button type="submit" class="primary-button txt-white">COMPRAR AHORA</button>    
            </div>
        </div>
    </div>
</div>

<div id="loading" class="loading-screen">
    <img src="../../assets/Logo/Logo_Sinfonía de sombras_Plata_2 lineas.png" alt="Sinfonía de sombras en plata">
    <div class="loading-element"></div>
</div>