p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
}

h1 {
    font-family: 'Cinzel';
    color: white;
    font-size: 52px;
}

#background {
    position: absolute;
    z-index: -100;
    width: 100%;
    top: 5%;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 50%;
    margin-top: 10%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.links a {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    margin: 0.5rem;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    text-align: center;

    /* White */

    color: #FFFFFF;
    text-decoration: none;
}

.paragraph {
    width: 50%;
    margin: 2rem;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    text-align: center;

    color: #FFFFFF;
}

.mobile-hide {
    display: flex;
}

.mobile-show {
    display: none;
}

.intro-body {
    margin-top: 200px;
    width: 65%;
}

.col2 {
    display: flex;
}

.txt-black {
    color: black;
}

.txt-white {
    color: white;
}

.intro-body p {
    margin: 1rem 1rem 1rem 0;
}

.bold {
    font-weight: 700;
}

.img-book {
    width: 50%;
    margin: 1rem;
}

.white-box {
    width: 100%;
    background-color: white;
    justify-content: center;
    padding-bottom: 3rem;
    padding-left: 35%;
  
    clip-path: 
        polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        0% 75%
        );
}

.white-box div {
    width: 30%;
}

.primary-button {
    background-color: #FD696F;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 1rem;

    /* White */

    border: none;

    cursor: pointer;
}

.primary-button:hover {
    background-color: #a03e41;
}

/* Mobile mode */
@media screen and (max-width: 1007px) {

    h1 {
        font-size: 12px;
        margin-top: 2rem;
    }

    p {
        font-size: 9px;
    }

    .paragraph {
        width: 75%;
        font-size: 10px;
    }

    .links {
        width: 75%;
    }

    .links a {
        font-size: 10px;
    }

    #logo {
        margin-top: 20%;
    }

    .mobile-content {
        flex-direction: column;
        align-items: center;

        width: 75%;
    }

    .primary-button {
        font-size: 10px;
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    }

    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: flex;
    }
}