#background {
    position: absolute;
    z-index: -100;
    width: 100%;
    top: 5%;
    mask-image: linear-gradient(180deg, rgb(0,0,0,1), rgb(0,0,0,0));
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 50%;
    margin-top: 10%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

i {
    font-weight: 500;
}

.links a {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    margin: 0.5rem;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    /* White */

    color: #FFFFFF;
    text-decoration: none;

    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.links a:hover {
    background-color: white;
    color: black;
}

.paragraph {
    width: 50%;
    margin: 2rem;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    text-align: center;

    color: #FFFFFF;
}

.mobile-hide {
    display: flex;
    z-index: 0;
}

.mobile-show {
    display: none;
    z-index: -1;
}

.intro-body {
    margin-top: 12rem;
    width: 65%;
    z-index: 2;
}

.col2 {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.intro-body p {
    margin: 1rem 1rem 1rem 0;
}

.txt-black {
    color: black;
    margin-top: 2rem;
}

.txt-white {
    color: white;
}

.bold {
    font-weight: 700;
}

.img-book {
    position: absolute;
    width: 100%;
    right: 0;
    top: 60rem;
    overflow: hidden;
    z-index: 0;
}

.white-box {
    position: absolute;
    background-color: white;

    left: 0;
    width: 100vw;
    height: 15rem;

    overflow: hidden;
      
    clip-path:
        polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        0% 75%
        );
    z-index: -1;
}

.primary-button {
    background-color: #FD696F;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;

    margin-top: 2rem;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    z-index: 10;

    /* White */

    border: none;
}

.primary-button:hover {
    background-color: #a03e41;
    cursor: pointer;
}

.desktop-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

.loading-screen {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0D1F40;
    z-index: 1000;

    // Animation
    opacity: 1;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

.loading-screen img {
    width: 30%;
}

.loading-element {
    width: 100px;
    height: 100px;
    border-radius: 100rem;
    box-shadow: 5px 0px 16px white;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.hide-loader {
    opacity: 0;
    z-index: -200;
}

// TOOLTIP
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

//--------------------------------------------------------------------

/* Mobile mode */
@media screen and (max-width: 1007px) {

    .col1 {
        width: 75%;
    }

    .paragraph {
        width: 75%;
        font-size: 10px;
    }

    .links {
        width: 75%;
    }

    .links a {
        font-size: 10px;
    }

    #logo {
        margin-top: 20%;
    }

    .img-book {
        position: relative;
        width: 60%;
        margin: 1rem;
        top: 4rem;
        overflow: hidden;
    }

    .mobile-content {
        flex-direction: column;
        align-items: center;

        width: 100%;

        margin-bottom: 5rem;
    }

    .primary-button {
        font-size: 10px;
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    }

    .white-box {
        width: 100%;
        padding-left: 0;
    }

    .mobile-hide {
        display: none;
        z-index: -1;
    }

    .mobile-show {
        display: flex;
        z-index: 0;
    }
}