<nav class="navbar">
    <span class="container">
        <img src="../../assets/Imágenes/Luna azul.png" alt="Luna azul">
    </span>
    <span class="nav-links">
        <a href="#landing">Home</a>
        <a href="#blog-list">Blog</a>
        <a href="#character-gallery">Personajes</a>
        <a href="#mapamundi">El Mundo</a>
    </span>
    <span class="tw-link">
        <a href="https://twitter.com/c__roto">@c_roto</a>
    </span>
    <div (click)="toggle()" class="btn-navbar">
        <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"></div>
        <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"></div>
        <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'">
    </div>
</div>
</nav>

<span class="nav-links-mobile" *ngIf="!isHamburguer">
    <a href="#landing">Home</a>
    <a href="#blog-list">Blog</a>
    <a href="#character-gallery">Personajes</a>
    <a href="#mapamundi">El Mundo</a>
</span>