<nav class="navbar">
    <span class="container">
        <img src="../../assets/Imágenes/Luna azul.png" alt="Luna azul">
    </span>
    <span class="nav-links">
        <a (click)="scroll('landing')">Home</a>
        <a (click)="scroll('blog')">Blog</a>
        <a (click)="scroll('personajes')">Personajes</a>
        <a (click)="scroll('mundo')">El Mundo</a>
    </span>
    <span class="tw-link">
        <a href="https://twitter.com/c__roto">@c_roto</a>
    </span>
    <div (click)="toggle()" class="btn-navbar">
        <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"></div>
        <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"></div>
        <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'">
    </div>
</div>
</nav>

<span class="nav-links-mobile" [@hamburguerX]="isHamburguer ? 'closed' : 'open'">
    <a (click)="scroll('landing')">Home</a>
    <a (click)="scroll('blog')">Blog</a>
    <a (click)="scroll('personajes')">Personajes</a>
    <a (click)="scroll('mundo')">El Mundo</a>
</span>

<router-outlet></router-outlet>