<div class="title">
    <h2>Blog</h2>
</div>
<div class="container">
    <div *ngFor="let entry of entries" class="list-element">
        <div class="entry" routerLink="/blog-viewer/{{entry.id}}">
            <img class="entry-image" src={{entry.frontImageURL}} alt={{entry.frontImageAlt}}>
            <h3 class="entry-title">{{entry.title}}</h3>
            <p class="date">{{entry.date}}</p>
            <p class="entry-brief">{{entry.brief}}</p>
            <div class="entry-bottom">
                <p class="btn-read">LEER MÁS</p>
                <p *ngIf="entry.tag == 'Entrevistas'" class="entry-tag tag-entrevista">{{entry.tag}}</p>
                <p *ngIf="entry.tag == 'Reseñas'" class="entry-tag tag-resenya">{{entry.tag}}</p>
                <p *ngIf="entry.tag == 'Noticias'" class="entry-tag tag-noticia">{{entry.tag}}</p>
                <button type="submit" routerLink="/blog-editor/{{entry.id}}">Editar</button>
            </div>
        </div>
    </div>
</div>