.container {
    display: flex;
    flex-direction: column;
}

.blog-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.blog-list span {
    width: 100%;
}

.entry {
    padding: 1rem;
    background-color: white;
    border: none;
    width: 100%;
    text-align: left;
    margin: 1rem 0 1rem 0;
}

.entry:active {
    background-color: lightgrey;
}

.b-new-entry:active {
    box-shadow: none;
    bottom: 14px;
}


@media screen and (max-width: 1007px) {
    .b-new-entry {
        position: fixed;
        right: 16px;
        bottom: 16px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: aquamarine;
        border: none;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);

        // Temp
        font-size: xx-large;
    }
}