h1 {
    color: var(--white-text);
    text-align: center;
    font-family: 'Montserrat';
}

hr {
    color: var(--white-text);
    width: 100%;
}

i {
    color: var(--white-text);
    margin: 0 1rem 0 1rem;
}

.img-container {
    height: 40vh;
    overflow: hidden;
}

img {
    width: 100%;
}

.viewer-body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.entry-body {
    margin-top: 10vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.entry-tag {
    padding: 0.5rem;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
}

.entry-date {
    font-family: 'Montserrat';
    color: var(--white-text);
    font-weight: 700;
}

.entry-heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.left-side {
    justify-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.right-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: flex-end;
}

.tag {
    font-family: 'Montserrat';
    padding: 0.5rem;
}

.tag-resenya {
    background-color: #DDC8FF;
}

.tag-entrevista {
    background-color: #FC9696;
}

.tag-noticia {
    background-color: #F3F4B4;
}

@media screen and (max-width: 1000px) {

    .entry-body {
        margin-top: 10vh;
    }

    .entry-heading {
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .entry-tag {
        font-size: 9px;
    }

    .entry-date {
        font-size: 9px;
    }

    i {
        font-size: 16px;
    }

}

@media screen and (min-width: 1600px) {
    .tag {
        font-size: var(--big-text-p);
    }
}

// 4k
@media screen and (min-width: 3200px) {
    
    i {
        margin: 0 1rem 0 1rem;
    }

    .entry-body {
        width: 60%;
    }

    .entry-heading {
        height: 5rem;
    }

    .right-side {
        height: 100%;
    }

    .right-side a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        
    }

    .entry-tag {
        font-size: var(--4k-text-p);
    }

    .entry-date {
        font-size: var(--4k-text-p);
    }
}