<div class="viewer-body">
    <div class="entry-body" *ngIf="entry">
        <div class="img-container">
            <img src={{entry.frontImageURL}} alt={{entry.frontImageAlt}}>
        </div>
        <h1>{{entry.title}}</h1>
        <hr> <!--LINE-->
        <div class="entry-heading">
            <div class="left-side">
                <!--TAG-->
                <div *ngIf="entry.tag == 'Entrevistas'" class="entry-tag tag-entrevista">ENTREVISTAS</div>
                <div *ngIf="entry.tag == 'Resenyas'" class="entry-tag tag-resenya">RESEÑAS</div>
                <div *ngIf="entry.tag == 'Noticias'" class="entry-tag tag-noticia">NOTICIAS</div>
                <!--DATE-->
                <div class="entry-date">{{entry.date}}</div>
            </div>
            <div class="right-side">
                <a href="https://twitter.com/intent/tweet?text=Visita Sinfonia de Sombras"  target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter fa-2xl"></i></a>
                <a href=""><i class="fa-brands fa-facebook fa-2xl"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
            </div>
        </div>
        <!-- Renders the entry.content: string as HTML elements -->
        <div>
            <div *ngFor="let fragment of entry.content">
                <app-content-fragment 
                [contentType]="fragment.type"
                [content]="fragment.content"></app-content-fragment>
            </div>
        </div>
    </div>
</div>