<div class="viewer-body">
    <div class="entry-body" *ngIf="entry">
        <img src={{entry.frontImageURL}} alt={{entry.frontImageAlt}}>
        <h2>{{entry.title}}</h2>
        <hr> <!--LINE-->
        <div class="entry-heading">
            <div class="left-side">
                <!--TAG-->
                <div *ngIf="entry.tag == 'Blog'" class="entry-tag tag-blog">{{entry.tag}}</div>
                <div *ngIf="entry.tag == 'Entrevistas'" class="entry-tag tag-entrevista">{{entry.tag}}</div>
                <div *ngIf="entry.tag == 'Reseñas'" class="entry-tag tag-resenya">{{entry.tag}}</div>
                <div *ngIf="entry.tag == 'Noticias'" class="entry-tag tag-noticia">{{entry.tag}}</div>
                <!--DATE-->
                <div class="entry-date">{{entry.date}}</div>
            </div>
            <div class="right-side">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-whatsapp"></i>
            </div>
        </div>
        <!-- Renders the entry.content: string as HTML elements -->
        <div>
            <div *ngFor="let fragment of entry.content">
                <app-content-fragment 
                [contentType]="fragment.type"
                [content]="fragment.content"></app-content-fragment>
            </div>
        </div>
    </div>
</div>