li {
    list-style: none;
    margin: 6px;
}

h2 {
    color: white;
    text-align: center;
}

hr {
    color: white;
    width: 100%;
}

i {
    color: white;
    margin: 0.1rem;
}

img {
    width: 100%;
    overflow: hidden;
}

.viewer-body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.entry-body {
    margin-top: 10%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry-heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.left-side {
    justify-self: flex-start
}

.right-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: flex-end;
}