<div class="vertical-container">
    <textarea name="title-box" id="title-box" cols="30" rows="1" [(ngModel)]="title">Título</textarea>
    <select name="entry-tag" id="entry-tag" [(ngModel)]="tag">
        <option value="">Categoría</option>
        <option *ngFor="let _tag of tags" [value]="_tag" >{{_tag}}</option>
    </select>
    <angular-editor id="content-box" [placeholder]="'Enter text here...'" [(ngModel)]="content"></angular-editor>
    
    <button type="submit" (click)="newBlogEntry()">Guardar</button>
    <button type="submit" (click)="back()">Descartar</button>
</div>