<div class="vertical-container">
    <textarea name="title-box" id="title-box" cols="30" rows="1" [(ngModel)]="title">Título</textarea>
    <select name="entry-tag" id="entry-tag" [(ngModel)]="tag">
        <option value="">Categoría</option>
        <option *ngFor="let _tag of tags" [value]="_tag" >{{_tag}}</option>
    </select>
    <ul>
        <li *ngFor="let fragment of content">
            <angular-editor *ngIf="fragment.type.key == 0" id="content-box" [placeholder]="'Enter text here...'"
            [(ngModel)]="fragment.content" [config]="editorConfig"></angular-editor>

            <textarea *ngIf="fragment.type.key == 2" name="content-box" cols="30" rows="1"
            [(ngModel)]="fragment.content">Video URL</textarea>
        </li>
    </ul>

    <div>
        <button (click)="addContentFragment()">Añadir</button>
        <select name="content-fragment-type" id="content-fragment-type"
        [(ngModel)]="newFragmentType">
            <option *ngFor="let type of contentFragmentTypes" [value]="type.key" >{{type.value}}</option>
        </select>
    </div>
    
    <div>
        <button type="submit" (click)="newBlogEntry()">Guardar</button>
        <button type="submit" (click)="back()">Descartar</button>
    </div>
</div>