/* You can add global styles to this file, and also import other style files */

body { 
    padding:0;
    margin:0;
    background-color: #03060F;
    overflow-x: hidden;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
}

h1 {
    font-family: 'Cinzel';
    color: white;
    font-weight: 700;
    font-size: 52px;
}

h2 {
    font-family: 'Cinzel';
    color: white;
    font-weight: 700;
    font-size: 52px;
}

/* Mobile mode */
@media screen and (max-width: 1007px) {

    h1 {
        font-size: 24px;
        font-weight: 700;
        margin-top: 2rem;
        margin-left: 1rem;
    }

    h2 {
        margin-top: 2rem;
        font-weight: 700;
        font-size: 24px;
    }

    p {
        font-size: 9px;
    }
}